@model IEnumerable<Logic.ApplicationUser>

@{
    ViewBag.Title = "SearchForUser";
}

<h2>Sök efter användare</h2>


    <form asp-controller="Users" asp-action="Index" method="get">
<p>
    Sök efter användare: <input type="text" name="SearchString">
    <input type="submit" value="Sök" />
</p>
</form>
    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.ActionLink(item.Nickname, "Index", "Friends", new { id = item.Id})
            </td>
            <td>
                @item.Age
            </td>
            <td>
                @item.Gender
            </td>
            
            
        </tr>
    }

</table>